@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/SuisseIntlTrial-Hairline.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/SuisseIntlTrial-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/SuisseIntlTrial-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/SuisseIntlTrial-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/SuisseIntlTrial-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/SuisseIntlTrial-Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/SuisseIntlTrial-Semibold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/SuisseIntlTrial-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/suisse/SuisseIntlTrial-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}